// Override / set color variables
$primary-900: #531944;
$primary-600: #A31E65;
$primary-100: #E1B6D1;

$neutral-900: #333333;
$neutral-200: #C2C2C2;
$neutral-50: #EBEBEB;

$white: #FFFFFF;

$primary: $primary-600;
